venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

outputs/
data/raw_videos/
data/replay/
data/sample_media/
dev_notes/

.depthai_cached_models/

*.onnx
*.blob
*.superblob
*.dlc
*.tar.xz

shared_with_container/